<html ng-app="app">

<body ng-controller="DemoController">

<div pdf-save-content>
	<button class="btn" ng-click="create()">imprime</button>

<button class="btn">Hello Someone</button>
	<!-- below block will be saved as pdf -->

	<div>
		<input ng-model="pdfName">
	</div>

	<div>
		<!-- some google graph -->
		Hello Someone
	</div>

	<button class="btn">Hello World</button>
	<!-- below block will be saved as pdf -->

	<div >
		<!-- some google graph -->
		Hello World
	</div>

</div>
	<script src="../bower_components/angular/angular.js"></script>
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script src="https://cdn.rawgit.com/niklasvh/html2canvas/0.5.0-alpha2/dist/html2canvas.min.js"></script>
	<script src="../bower_components/jsPDF/dist/jspdf.debug.js"></script>
	<script src="../dist/saveHtmlToPdf.js"></script>
<script id="tpl.tpl" type="text/ng-template">
	Content of ng-template
</script>
<script>
var app = angular.module('app' , ['htmlToPdfSave']) ;
app.controller('DemoController' , function($scope, pdfSaveService) {

	pdfSaveService.setConfigure({
		name: 'teste.pdf'
	});
	
	$scope.create = pdfSaveService.createPdf;

});
</script>
</body>
</html>
